*{
    margin: 0;
    padding: 0;
}

ul,li{
    list-style: none;
}

em,i{
    font-style: normal;
}

b,strong{
    font-weight: normal;
}

a{
    text-decoration: none;
}

html,body{
    font-family: '微软雅黑';
}

#box{
    width: 1200px;
    height: 880px;
    margin: 30px auto;
    padding: 10px;
}

.pWeek{
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    position: relative;
}

.pWeek .weeks{
    font-size: 30px;
    display: inline-block;
    width: 40px;
    text-align: center;
    color: rgb(230, 32, 42);
    cursor: pointer;
}

.pWeek .weekNumBox{
    position: absolute;
    width: 0px;
    height: 0px;
    top: -36px;
    transition: width 0.5s , height 0.5s;
    overflow: hidden;
}

.pWeek .weekNumBox.active{
    width: 252px;
    height: 36px;
}

.pWeek .weekNum{
    font-size: 14px;
    width: 252px;
    height: 36px;
}

.pWeek .weekNum li{
    display: block;
    width: 26px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    border: 1px solid grey;
    float: left;
    cursor: pointer;
}

.pWeek .weekNum li:hover{
    background-color: rgb(230, 79, 79);
}

.nowDate{
    font-size: 14px;
    color: rgb(150, 145, 145);
    margin-left: 50px;
}

.l_box{
    margin-top: 10px;
    width: 1200px;
}

.daysBox:after{
    display: block;
    content: '';
    clear: both;
    visibility: hidden;
    height: 0;
}

.daysBox i{
    display: block;
    float: left;
    width: 148px;
    height: 18px;
    border: 1px solid #ccc;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.daysBox i.nothing{
    width: 98px;
}

.daysBox i.active{
    background-color: rgb(236, 88, 69);
    font-size: 16px;
}

.downBox:after{
    display: block;
    content: '';
    clear: both;
    visibility: hidden;
    height: 0;
}

.amORpm,.dayTime,.scBox{
    float: left;
}

.amORpm{
    width: 50px;
    height: 800px;
}

._AM , ._PM{
    width: 48px;
    height: 398px;
    line-height: 398px;
    text-align: center;
    border: 1px solid #ccc;
}

.dayTime{
    width: 50px;
    height: 800px;
}

.dayTime b{
    display: block;
    width: 48px;
    height: 98px;
    border: 1px solid #ccc;
    line-height: 98px;
    text-align: center;
}

.scBox{
    height: 800px;
    width: 1050px;
    overflow: hidden;
    position: relative;
}

.weekUlBox{
    height: 800px;
    width: 18900px;
    position: absolute;
    top : 0;
    left: -3150px;
}

.weekUl{
    width: 1050px;
    height: 800px;
    float: left;
}

.daysLi{
    width: 150px;
    height: 800px;
    float: left;
}

.daysLi .classNum{
    width: 143px;
    height: 93px;
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 5px 0 0 5px;
}

.classNum .cName{
    font-weight: bold;
}

.cRoom , .cTeacher{
    font-size: 12px;
    margin-top: 5px;
}